@model Liath.BigSpace.UI.Web.Areas.OuterSpace.Models.LocalArea.Display
@{
    ViewBag.Title = "Display";
}

<h2>Display Local Area</h2>

<table>
    @for (int i = 0; i < Model.ScreenSize.Height; i++)
    {
        <tr>
            @for (int j = 0; j < Model.ScreenSize.Width; j++)
            {
                <td style="width: 25px; height: 25px;">
                    .
                </td>
            }
        </tr>
    }
</table>